.advantages {
  margin: 0;
}

.advantages__list {
  background-color: #e7e5e5;
  padding: 0;
  padding-top: 38px;
  list-style: none;
  width: 320px;
  margin: 0 auto;
}

.advantages__list--town {
  background-color: #ffffff;
  width: 320px;
}

@media (min-width: $tablet-width) {
  .advantages__list--town {
    width: 768px;
    display: flex;
    justify-content: space-around;
    padding-top: 158px;
    box-sizing: border-box;
    height: 329px;
  }
}

@media (min-width: $desktop-width) {
  .advantages__list--town {
    width: 1200px;
    display: flex;
    justify-content: space-around;
  }
}

.advantages__title {
  font-family: $title;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: #000000;
  text-transform: uppercase;
  text-align: center;
  padding: 0;
  margin: 0;
  padding-bottom: 16px;
}

.advantages__title--town {
  text-align: left;
}

@media (min-width: $tablet-width) {
  .advantages__title--town {
    text-align: center;
  }
}

@media (min-width: $desktop-width) {
  .advantages__title--town {
    text-align: center;
  }
}

.advantages__title--blue {
  color: #ffffff;
  padding: 0;
  margin: 0;
  padding-bottom: 11px;
}

@media (min-width: $tablet-width) {
  .advantages__title--blue {
    padding: 0 20px;
    padding-bottom: 11px;
  }
}

@media (min-width: $desktop-width) {
  .advantages__title--blue {
    padding: 0 20px;
    padding-bottom: 11px;
  }
}

.advantages__description {
  font-family: $title;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #000000;
  text-transform: uppercase;
  text-align: center;
  padding: 0;
  margin: 0;
  padding-bottom: 40px;
}

.advantages__description--town {
  text-align: left;
}

@media (min-width: $tablet-width) {
  .advantages__description--town {
    text-align: center;
  }
}

@media (min-width: $desktop-width) {
  .advantages__description--town {
    text-align: center;
  }
}

.advantages__description--blue {
  color: #ffffff;
  padding: 0;
  margin: 0;
  padding-bottom: 40px;
}

.advantages__description__number {
  font-family: $title;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #000000;
  text-align: center;
  padding: 0;
  margin: 0;
  padding-bottom: 28px;
}

.advantages__description__number--blue {
  color: #ffffff;
  padding: 0;
  margin: 0;
  padding-bottom: 17px;
}

.advantages__item {
  padding: 0;
  margin: 0;
}

@media (min-width: $tablet-width) {
  .advantages__item {
    width: 189px;
    margin: 0 auto;
  }
}

@media (min-width: $desktop-width) {
  .advantages__item {
    width: 400px;
    margin: 0 auto;
  }
}

.advantages__item--housing,
.advantages__item--food,
.advantages__item--gift {
  color: #000000;
  width: 256px;
}

.advantages__real__town {
  display: flex;
  margin: 0 auto;
}

.sedona-bridge {
  margin: 0 auto;
  height: 100%;
  object-fit: cover;
}

.picture {
  margin: 0;
  width: 320px;
  height: 100%;
  object-fit: cover;
}

@media (min-width: $tablet-width) {
  .picture {
    width: 512px;
    height: 256px;
  }
}

@media (min-width: $desktop-width) {
  .picture {
    width: 800px;
    height: 256px;
  }
}

.advantages__wrapper__list {
  width: 320px;
  margin: 0 auto;
}

@media (min-width: $tablet-width) {
  .advantages__wrapper__list {
    display: flex;
    justify-content: space-between;
    width: 768px;
    height: 332px;
  }
}

@media (min-width: $desktop-width) {
  .advantages__wrapper__list {
    display: flex;
    justify-content: space-between;
    width: 1200px;
    height: 332px;
  }
}

.advantages__wrapper {
  width: 320px;
  margin: 0 auto;
}

@media (min-width: $tablet-width) {
  .advantages__wrapper {
    display: flex;
    justify-content: space-between;
    width: 768px;
    margin: 0 auto;
  }
}

@media (min-width: $desktop-width) {
  .advantages__wrapper {
    display: flex;
    width: 1200px;
  }
}

.advantages__list--bridge {
  width: 320px;
}

@media (min-width: $tablet-width) {
  .advantages__list--bridge {
    display: flex;
    justify-content: space-between;
    width: 768px;
    margin: 0 auto;
  }
}

@media (min-width: $desktop-width) {
  .advantages__list--bridge {
    display: flex;
    width: 1200px;
  }
}
