
.contacts {
  max-width: 320px;
  margin: 0 auto;
  padding: 24px 20px 34px 20px;
}

.contacts__title {
  margin: 0;
  padding: 0;
  font-family: $title;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
  text-align: center;
  padding-bottom: 20px;
}

.contacts__phone,
.contacts__e-mail {
  margin: 0;
  padding: 0;
  font-family: $title;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  text-align: center;
  padding-left: 16px;
}
