.main-footer {
  width: 320px;
  margin: 0 auto;
}

@media (min-width: $tablet-width) {
  .main-footer {
    width: 768px;
    margin: 0 auto;
  }
}

@media (min-width: $desktop-width) {
  .main-footer {
    width: 1200px;
    margin: 0 auto;
  }
}

.main-footer__wrapper {
  padding: 0;
  margin: 0 auto;
  width: 320px;
  text-align: center;
  height: 243px;
  padding-top: 30px;
}

@media (min-width: $tablet-width) {
  .main-footer__wrapper {
    padding: 20px 60px;
    display: flex;
    justify-content: space-between;
    width: 768px;
    height: 120px;
    margin: 0 auto;
    box-sizing: border-box;
  }
}

@media (min-width: $desktop-width) {
  .main-footer__wrapper {
    padding: 20px 117px;
    display: flex;
    justify-content: space-between;
    width: 1200px;
    height: 120px;
    margin: 0;
    box-sizing: border-box;
  }
}

.main-footer__title {
  font-family: $title;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  color: #000000;
  text-transform: uppercase;
  text-align: center;
  padding: 0;
  padding-bottom: 34px;
  margin: 0;

  @media (min-width: $tablet-width) {
    padding-top: 29px;
  }
}

@media (min-width: $desktop-width) {
  .main-footer__title {
    padding-top: 26px;
  }
}

.main-footer__copyright {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0 95px;
  cursor: pointer;

  @media (min-width: $tablet-width) {
    padding: 0;
    padding-top: 15px;
    width: 145px;
  }
}

.main-footer__social {
  margin-bottom: 31px;

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
  }
}

.copyright__link {
  display: block;
  color: #000000;
  padding-top: 8px;
  padding-left: 3px;
}

/*CТИЛИ ПРИ НАВЕДЕНИИ -HOVER*/
.copyright__link:hover {
  color: rgb(129, 179, 210);
}

.main-footer__copyright:hover {
  color: rgb(129, 179, 210);
}

.main-footer__copyright:hover svg {
  color: rgb(129, 179, 210);
}

/*CТИЛИ ПРИ КЛИКЕ -COPYRIGHT*/
.main-footer__copyright:active svg {
  color: rgb(179, 179, 179);
}

.main-footer__copyright:active {
  color: rgb(179, 179, 179);
}
