.main-picture-welcome-text {
  background-position: center;
}

@media (min-width: $tablet-width) {
  .main-picture-welcome-text {
    height: 350px;
    width: 461px;
  }
}

@media (min-width: $desktop-width) {
  .main-picture-welcome-text {
    height: 350px;
    width: 461px;
    margin: 0 auto;
    background-position: center;
  }
}
