.background-container {
  background-image: url("../img/index-background.jpg");
  background-color: #3f5e72;
  background-repeat: no-repeat;
  max-width: 320px;
  margin: 0 auto;
}

.background-container-catalog {
  background-image: url("../img/index-background.jpg");
  background-color: #3f5e72;
  background-repeat: no-repeat;
  max-width: 320px;
  margin: 0 auto;
  background-position: bottom right;
}

.index-container-wrapper {
  padding: 90px 19px 85px 19px;
}

