.main-header {
  background-color: #ffffff;
  color: #888897;
  text-align: center;
  background-size: 100% auto;
}

.main-picture-welcome-text {
  background-position: center;
}

.container-wrapper {
  padding: 52px 46px 67px 46px;
}
