.search {
  width: 284px;
  padding-top: 38px;
  padding-bottom: 49px;
  margin: 0 auto;
  box-sizing: border-box;
}

@media (min-width: $tablet-width) {
  .search {
    width: 768px;
    margin: 0 auto;
  }
}

@media (min-width: $desktop-width) {
  .search {
    width: 1200px;
    margin: 0 auto;
  }
}

.search__title {
  font-family: $title;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  color: #000000;
  text-align: center;
  text-transform: uppercase;
  padding: 0;
  margin: 0;
  padding-bottom: 31px;
}

.search__description {
  font-family: $title;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #000000;
  text-transform: uppercase;
  text-align: center;
  padding: 0;
  margin: 0;
  padding-bottom: 38px;
}

.search__wrapper {
  width: 284px;
}

@media (min-width: $tablet-width) {
  .search__wrapper {
    width: 458px;
    margin: 0 auto;
  }
}

@media (min-width: $desktop-width) {
  .search__wrapper {
    width: 458px;
    margin: 0 auto;
  }
}
