.site-list__link {
  list-style: none;
  text-decoration: none;
  color: inherit;
}

@media (min-width: $tablet-width) {
  .site-list__link {
    width: 690px;
  }
}

@media (min-width: $desktop-width) {
  .site-list__link {
    width: 1040px;
  }
}
