.video__wrapper {
  max-width: 320px;
  margin: 0 auto;
  text-align: center;
  padding: 0 28px;
  box-sizing: border-box;
}

.video__title {
  margin: 0;
  padding: 0;
  padding-bottom: 38px;
  font-family: $title;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
  text-align: center;
}

.video__description {
  margin: 0;
  padding: 0;
  font-family: $title;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  text-align: center;
  padding-bottom: 38px;
}
